hcloud_token              = "REPLACE_WITH_HCLOUD_TOKEN"
project                   = "skripsi"
location                  = "sin"
monolith_cluster_name     = "skripsi-hetzner-monolith"
msa_cluster_name          = "skripsi-hetzner-msa"
control_plane_server_type = "ccx13"
app_server_type           = "ccx43"
testing_server_type       = "ccx23"
postgres_server_type      = "ccx33"
